body {
    background-color: #1976D2;
}
.form-title {
    font-weight: 700;
    text-align: center;
    display: block;
    font-size: 20px;
    margin: 10px 0;
}
form {
    max-width: 300px;
    background-color: #fff;
    margin: 0 auto;
    padding: 20px;
}
.label_text {
    display: block;
    padding: 10px;
}
.select_text {
    margin: 16px;
    width: 200px;

    display: block;
    padding: 2px;
}

.submit-button {
    border: 0;
    font-family: inherit;
    font-size: inherit;
    outline: none;
    cursor: pointer;
    background-color: #7E57C2;
    color: #fff;
    padding: 10px 30px;
    border-radius: 5px;
}

.submit-button:hover {
    background-color: #673AB7;
}

.submit-button:active {
    transform: translateY(1px);
}
.list-records {
    margin: 10px;
    background-color: #fff;
}.records{
     display: block;
    padding:10px;
 }